<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LocalConnection" connectionString="Data Source=localhost;Initial Catalog=GhadsBot;Persist Security Info=True;User ID=sa;Password=@12tf56so;Encrypt=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />
		</connectionStrings>
	</configuration>


