<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WindowsConnection"
         connectionString="Data Source=localhost;Initial Catalog=GhadsBot;Persist Security Info=True;User ID=sa;Password=@12tf56so;Encrypt=True;Trust Server Certificate=True"
         providerName="System.Data.SqlClient" />

    <add name="LinuxConnection"
         connectionString="Server=localhost,1433;Database=Ghadsbot;User Id=sa;Password=@12tf56so;Encrypt=False;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
