<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LocalConnection" connectionString="Data Source=localhost;Initial Catalog = GhadsBot; User ID = sa; Password=***********;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />
		</connectionStrings>
	</configuration>


